In [81]:
import pandas as pd
# Load the CSV File
data = pd.read_csv("data.csv")
data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [82]:
data.shape, data.dtypes

((53392, 33),
 YearStart                       int64
 YearEnd                         int64
 LocationAbbr                   object
 LocationDesc                   object
 Datasource                     object
 Class                          object
 Topic                          object
 Question                       object
 Data_Value_Unit               float64
 Data_Value_Type                object
 Data_Value                    float64
 Data_Value_Alt                float64
 Data_Value_Footnote_Symbol     object
 Data_Value_Footnote            object
 Low_Confidence_Limit          float64
 High_Confidence_Limit         float64
 Sample_Size                   float64
 Total                          object
 Age(years)                     object
 Education                      object
 Gender                         object
 Income                         object
 Race/Ethnicity                 object
 GeoLocation                    object
 ClassID                        object
 TopicID                        object
 QuestionID                     object
 DataValueTypeID                object
 LocationID                      int64
 StratificationCategory1        object
 Stratification1                object
 StratificationCategoryId1      object
 StratificationID1              object
 dtype: object)

In [83]:
data.describe()

,YearStart,YearEnd,Data_Value_Unit,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,LocationID
count,53392.000000,53392.000000,0.0,48346.000000,48346.000000,48346.000000,48346.000000,48346.00000,53392.000000
mean,2013.281465,2013.281465,NaN,31.156681,31.156681,26.892227,35.989997,3889.19286,30.282215
std,1.693300,1.693300,NaN,10.247033,10.247033,10.038584,11.205813,19829.42129,16.821318
min,2011.000000,2011.000000,NaN,0.900000,0.900000,0.300000,3.000000,50.00000,1.000000
25%,2012.000000,2012.000000,NaN,24.100000,24.100000,20.000000,28.200000,566.00000,17.000000
50%,2013.000000,2013.000000,NaN,30.700000,30.700000,26.450000,35.600000,1209.00000,30.000000
75%,2015.000000,2015.000000,NaN,37.000000,37.000000,32.900000,42.200000,2519.00000,44.000000
max,2016.000000,2016.000000,NaN,77.600000,77.600000,69.500000,87.700000,476876.00000,78.000000

In [84]:
# Identifying Missing Values
missing_values = data.isnull().sum()
total_rows = len(data)
percentage_missing = (missing_values / total_rows) * 100
percentage_missing

YearStart                       0.000000
YearEnd                         0.000000
LocationAbbr                    0.000000
LocationDesc                    0.000000
Datasource                      0.000000
Class                           0.000000
Topic                           0.000000
Question                        0.000000
Data_Value_Unit               100.000000
Data_Value_Type                 0.000000
Data_Value                      9.450854
Data_Value_Alt                  9.450854
Data_Value_Footnote_Symbol     90.549146
Data_Value_Footnote            90.549146
Low_Confidence_Limit            9.450854
High_Confidence_Limit           9.450854
Sample_Size                     9.450854
Total                          96.428304
Age(years)                     78.577315
Education                      85.713215
Gender                         92.856608
Income                         74.998127
Race/Ethnicity                 71.426431
GeoLocation                     1.887923
ClassID                         0.000000
TopicID                         0.000000
QuestionID                      0.000000
DataValueTypeID                 0.000000
LocationID                      0.000000
StratificationCategory1         0.000000
Stratification1                 0.000000
StratificationCategoryId1       0.000000
StratificationID1               0.000000
dtype: float64

In [85]:
columns_to_keep = ['YearStart', 'Question', 'StratificationCategory1', 'Data_Value', 'Stratification1']

# Create a new DataFrame with only the selected columns
data = data[columns_to_keep]

In [86]:
data

,YearStart,Question,StratificationCategory1,Data_Value,Stratification1
0,2011,Percent of adults aged 18 years and older who ...,Total,32.0,Total
1,2011,Percent of adults aged 18 years and older who ...,Gender,32.3,Male
2,2011,Percent of adults aged 18 years and older who ...,Gender,31.8,Female
3,2011,Percent of adults aged 18 years and older who ...,Education,33.6,Less than high school
4,2011,Percent of adults aged 18 years and older who ...,Education,32.8,High school graduate
...,...,...,...,...,...
53387,2016,Percent of adults who engage in no leisure-tim...,Race/Ethnicity,NaN,Asian
53388,2016,Percent of adults who engage in no leisure-tim...,Race/Ethnicity,NaN,Hawaiian/Pacific Islander
53389,2016,Percent of adults who engage in no leisure-tim...,Race/Ethnicity,NaN,American Indian/Alaska Native
53390,2016,Percent of adults who engage in no leisure-tim...,Race/Ethnicity,NaN,2 or more races
53391,2016,Percent of adults who engage in no leisure-tim...,Race/Ethnicity,NaN,Other

In [87]:
# keep only rows where the StratificationCategory1 is Income
data = data[data['StratificationCategory1'] == 'Age (years)']
data.head()

,YearStart,Question,StratificationCategory1,Data_Value,Stratification1
7,2011,Percent of adults aged 18 years and older who ...,Age (years),16.3,18 - 24
8,2011,Percent of adults aged 18 years and older who ...,Age (years),35.2,25 - 34
9,2011,Percent of adults aged 18 years and older who ...,Age (years),35.5,35 - 44
10,2011,Percent of adults aged 18 years and older who ...,Age (years),38.0,45 - 54
11,2011,Percent of adults aged 18 years and older who ...,Age (years),36.4,55 - 64

In [88]:
# Drop the StratificationCategory1 column
data = data.drop('StratificationCategory1', axis=1)
data.head()

,YearStart,Question,Data_Value,Stratification1
7,2011,Percent of adults aged 18 years and older who ...,16.3,18 - 24
8,2011,Percent of adults aged 18 years and older who ...,35.2,25 - 34
9,2011,Percent of adults aged 18 years and older who ...,35.5,35 - 44
10,2011,Percent of adults aged 18 years and older who ...,38.0,45 - 54
11,2011,Percent of adults aged 18 years and older who ...,36.4,55 - 64

In [89]:
# Define a mapping from question text to question number
question_mapping = {
    'Percent of adults aged 18 years and older who have obesity': 0,
    'Percent of adults aged 18 years and older who have an overweight classification': 1,
    'Percent of adults who report consuming fruit less than one time daily': 2,
    'Percent of adults who report consuming vegetables less than one time daily': 3,
    'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)': 4,
    'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-...': 5,
    'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)': 6,
    'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week': 7,
    'Percent of adults who engage in no leisure-time physical activity': 8,
}

# Create a new column with the question numbers
data['Question_Num'] = data['Question'].replace(question_mapping)

# Create the new columns based on the conditions
data['obesity'] = data['Question_Num'].apply(lambda x: 1 if x in [0, 1] else 0)
data['food'] = data['Question_Num'].apply(lambda x: 1 if x in [2, 3] else 0)
data['exercise'] = data['Question_Num'].apply(lambda x: 0.5 if x in [4, 5] else (1 if x == 6 else 0))
data['activity'] = data['Question_Num'].apply(lambda x: 1 if x == 7 else (-0.5 if x == 8 else 0))

# Display the first few rows of the modified dataframe
data

,YearStart,Question,Data_Value,Stratification1,Question_Num,obesity,food,exercise,activity
7,2011,Percent of adults aged 18 years and older who ...,16.3,18 - 24,0,1,0,0.0,0.0
8,2011,Percent of adults aged 18 years and older who ...,35.2,25 - 34,0,1,0,0.0,0.0
9,2011,Percent of adults aged 18 years and older who ...,35.5,35 - 44,0,1,0,0.0,0.0
10,2011,Percent of adults aged 18 years and older who ...,38.0,45 - 54,0,1,0,0.0,0.0
11,2011,Percent of adults aged 18 years and older who ...,36.4,55 - 64,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
53372,2016,Percent of adults who engage in no leisure-tim...,34.7,25 - 34,8,0,0,0.0,-0.5
53373,2016,Percent of adults who engage in no leisure-tim...,29.3,35 - 44,8,0,0,0.0,-0.5
53374,2016,Percent of adults who engage in no leisure-tim...,22.5,45 - 54,8,0,0,0.0,-0.5
53375,2016,Percent of adults who engage in no leisure-tim...,24.6,55 - 64,8,0,0,0.0,-0.5
53376,2016,Percent of adults who engage in no leisure-tim...,23.9,65 or older,8,0,0,0.0,-0.5

In [90]:
# drop the Question and Question_Num columns
data = data.drop(['Question', 'Question_Num'], axis=1)
data

,YearStart,Data_Value,Stratification1,obesity,food,exercise,activity
7,2011,16.3,18 - 24,1,0,0.0,0.0
8,2011,35.2,25 - 34,1,0,0.0,0.0
9,2011,35.5,35 - 44,1,0,0.0,0.0
10,2011,38.0,45 - 54,1,0,0.0,0.0
11,2011,36.4,55 - 64,1,0,0.0,0.0
...,...,...,...,...,...,...,...
53372,2016,34.7,25 - 34,0,0,0.0,-0.5
53373,2016,29.3,35 - 44,0,0,0.0,-0.5
53374,2016,22.5,45 - 54,0,0,0.0,-0.5
53375,2016,24.6,55 - 64,0,0,0.0,-0.5
53376,2016,23.9,65 or older,0,0,0.0,-0.5

In [91]:
# encode Stratifcation1 using LabelEncoder with the following mapping

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
order = {'18 - 24': 0, '25 - 34': 1, '35 - 44': 2, '45 - 54': 3, '55 - 64': 4, '65 or older': 5}
data['Stratification1'] = data['Stratification1'].map(order)

# encode YearStart using OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
year_encoded = ohe.fit_transform(data['YearStart'].values.reshape(-1, 1))
year_encoded = pd.DataFrame(year_encoded, columns=ohe.categories_[0])

# replace the original column with the encoded columns
data = pd.concat([data, year_encoded], axis=1)
data = data.drop('YearStart', axis=1)

data

,Data_Value,Stratification1,obesity,food,exercise,activity,2011,2012,2013,2014,2015,2016
7,16.3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,35.2,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,35.5,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10,38.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,36.4,4.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11433,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
11434,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
11435,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
11436,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0
11437,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0

In [92]:
# drop rows with missing values
data = data.dropna()
data

,Data_Value,Stratification1,obesity,food,exercise,activity,2011,2012,2013,2014,2015,2016
7,16.3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,35.2,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,35.5,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10,38.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,36.4,4.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11417,24.6,1.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,1.0
11418,24.4,2.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,1.0
11419,27.4,3.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,1.0
11420,29.2,4.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,1.0
11421,32.0,5.0,0.0,0.0,0.0,-0.5,0.0,0.0,0.0,0.0,0.0,1.0

In [93]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Define the features and the target variable
features = [
    'Stratification1', 'obesity', 'food', 'exercise', 'activity',
    2011, 2012, 2013, 2014, 2015, 2016
]
target = 'Data_Value'

# Separate the features and the target variable
X = data[features]
y = data[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor
model_rf = RandomForestRegressor(random_state=42)

# Train the Random Forest regressor
model_rf.fit(X_train, y_train)

# Predict the target variable on the testing set
y_pred = model_rf.predict(X_test)

# Calculate regression metrics to evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R² Score: {r2}')

MAE: 5.160060696064708
MSE: 44.34580777520995
R² Score: 0.6172023221640037

C:\Users\sumuk\Music\heart-disease-project\env\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\sumuk\Music\heart-disease-project\env\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [94]:
# training model without YearStart column
# drop YearStart column
data = data.drop([2011, 2012, 2013, 2014, 2015, 2016], axis=1)

In [95]:
data

       Data_Value  Stratification1  obesity  food  exercise  activity
7            16.3              0.0      1.0   0.0       0.0       0.0
8            35.2              1.0      1.0   0.0       0.0       0.0
9            35.5              2.0      1.0   0.0       0.0       0.0
10           38.0              3.0      1.0   0.0       0.0       0.0
11           36.4              4.0      1.0   0.0       0.0       0.0
...           ...              ...      ...   ...       ...       ...
11417        24.6              1.0      0.0   0.0       0.0      -0.5
11418        24.4              2.0      0.0   0.0       0.0      -0.5
11419        27.4              3.0      0.0   0.0       0.0      -0.5
11420        29.2              4.0      0.0   0.0       0.0      -0.5
11421        32.0              5.0      0.0   0.0       0.0      -0.5

[2448 rows x 6 columns]

In [96]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

features = ['Stratification1', 'obesity', 'food', 'exercise', 'activity']
target = 'Data_Value'

# Separate the features and the target variable
X = data[features]
y = data[target]

# Split the data into training and testing sets before standardizing the "Data_Value"
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the "Data_Value" in the training and testing sets
scaler_y = StandardScaler()
y_train_scaled = scaler_y.fit_transform(y_train.values.reshape(-1, 1)).ravel()
y_test_scaled = scaler_y.transform(y_test.values.reshape(-1, 1)).ravel()

# Initialize the Random Forest regressor
model_rf = RandomForestRegressor(random_state=42)

# Train the Random Forest regressor using the standardized "Data_Value"
model_rf.fit(X_train, y_train_scaled)

# Predict the standardized "Data_Value" on the testing set
y_pred_scaled = model_rf.predict(X_test)

# Calculate regression metrics to evaluate the model
mae_scaled = mean_absolute_error(y_test_scaled, y_pred_scaled)
mse_scaled = mean_squared_error(y_test_scaled, y_pred_scaled)
r2_scaled = r2_score(y_test_scaled, y_pred_scaled)

mae_scaled, mse_scaled, r2_scaled

(0.46126803314389675, 0.33136789734274635, 0.6744799336503451)

In [97]:
# Define the features and the target variable
features = ['Stratification1', 'obesity', 'food', 'exercise', 'activity']
target = 'Data_Value'

# Separate the features and the target variable
X = data[features]
y = data[target]

# Adding interaction terms between different pairs of features
interaction_features = [
    ('Stratification1', 'obesity'),
    ('Stratification1', 'food'),
    ('Stratification1', 'exercise'),
    ('Stratification1', 'activity'),
    ('obesity', 'food'),
    ('obesity', 'exercise'),
    ('obesity', 'activity'),
    ('food', 'exercise'),
    ('food', 'activity'),
    ('exercise', 'activity')
]

for feature1, feature2 in interaction_features:
    X[f'{feature1}_x_{feature2}'] = X[feature1] * X[feature2]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor
model = RandomForestRegressor(random_state=42)

# Create a pipeline with feature scaling and the model
pipeline = make_pipeline(StandardScaler(), model)

# Train the model
pipeline.fit(X_train, y_train)

# Predict the target variable on the testing set
y_pred = pipeline.predict(X_test)

# Calculate regression metrics to evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R² Score: {r2}')

MAE: 4.920720103996479
MSE: 37.710391481267116
R² Score: 0.674479933650345

In [98]:
def predict_data_value():
    income = int(input('Enter your income: '))
    obesity = int(input('Enter your obesity: '))
    food = int(input('Enter your food: '))
    exercise = int(input('Enter your exercise: '))
    activity = int(input('Enter your activity: '))

    # create a dataframe with the user input
    user_input = pd.DataFrame([[income, obesity, food, exercise, activity]], columns=['Stratification1', 'obesity', 'food', 'exercise', 'activity'])

    # add interaction terms
    for feature1, feature2 in interaction_features:
        user_input[f'{feature1}_x_{feature2}'] = user_input[feature1] * user_input[feature2]
    
    # make a prediction using the pipeline
    prediction = pipeline.predict(user_input)

    # print the prediction
    print(f'Your predicted Data Value for is {prediction[0]:.1f}')

In [41]:
# call the function to make a prediction
predict_data_value()

ValueError: invalid literal for int() with base 10: ''